* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: #ec2127;
    --hover-color: #ff9296;
    --box-color: rgb(224, 224, 224);
}

body {
    background-color: #f9f9f9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    background-size: cover;
    margin-bottom: 50px;
    padding: 30px;
    color: var(--secondary-color);
}

header h1 {
    font-size: 75px;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header img {
    height: 75px;
    width: 75px;
}

header nav {
    float: right;
}

header nav ul {
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    font-size: 24px;
    padding: 36px 24px 0px 24px;
    justify-content: space-evenly;
    display: inline-block;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--hover-color);
}

h2 {
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.sheet, #skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

#skills {
    margin-top: 50px;
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--box-color);
    border-radius: 20px;
    box-sizing: content-box;
    height: auto;
    width: 400px;
    padding: 30px;
}

.info-box p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.fillin {
    width: 100%;
    left: 0;
    padding: 5px;
}

.info-box textarea {
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
}

.info-box ol {
    margin-right: 50%;
    margin-bottom: 20px;
}

.info-box ol li {
    font-size: 14px;
}

.info-box button {
    margin: 20px 20px 15px 0px;
    padding: 5px;
    border-style: none;
    background-color: black;
    color: var(--secondary-color);
    font-size: 18px;
    width: 120%;
    border-radius: 5px;
}

.info-box button:hover {
    color: var(--hover-color);
    background-color: rgb(75, 75, 75);
}

.form table {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 24px;
    border-spacing: 20px;
    border-collapse: collapse;
    max-width: 400px;
}

.righty, .lefty {
    border-bottom: var(--primary-color) solid 1px;
}

.form table th {
    border-right: var(--primary-color) solid 1px;
    text-align: left;
    padding: 15px 20px 15px 0px;
}

.form table td {
    border-left: var(--primary-color) solid 1px;
    text-align: right;
    padding: 15px 0px 15px 20px;
}

footer {
    padding: 30px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 24px;
    position: static;
    bottom: 0;
    width: 100%;
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    header h1 {
        font-size: 50px;
    }

    header img {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width:560px) {
    header h1 {
        font-size: 35px;
    }

    header img {
        height: 35px;
        width: 35px;
    }
}