.info-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--box-color);
    border-radius: 20px;
    box-sizing: content-box;
    height: auto;
    width: 80%;
    padding: 30px;
}

.info-page p {
    margin-bottom: 10px;
    margin-top: 10px;
}